REACT_APP_JWT="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySW5mb3JtYXRpb24iOnsiaWQiOiJlNDM0MjkxNy0zMmM5LTQ3MWItYjU0MS1jMjMzNDA4ODg3NDgiLCJlbWFpbCI6InRyYXNoY2FzaEBwcm90b25tYWlsLmNvbSIsImVtYWlsX3ZlcmlmaWVkIjp0cnVlLCJwaW5fcG9saWN5Ijp7InJlZ2lvbnMiOlt7ImlkIjoiTllDMSIsImRlc2lyZWRSZXBsaWNhdGlvbkNvdW50IjoxfV0sInZlcnNpb24iOjF9LCJtZmFfZW5hYmxlZCI6ZmFsc2V9LCJhdXRoZW50aWNhdGlvblR5cGUiOiJzY29wZWRLZXkiLCJzY29wZWRLZXlLZXkiOiIwMWQ4ZDI0ZjU2YzYzNjMwOTYyYyIsInNjb3BlZEtleVNlY3JldCI6Ijg5YTkxNTE1MDU1YTE3NWRiYmJkMjcxMGYyMTQzNDZlNjQ4NzcxY2VmMDZkNWJmMjVlMWYwYmMyNzFlNGU3YTkiLCJpYXQiOjE2MjA2MzcwMjF9.aY2PX3TnL5ghxze1z3frbo5XLVfdJ3QWWlQQ_xt429g"
